extends layout

block filter
    .colBox
        .select
            select.select-text(id='selectBreed' required='')
                option(value='' disabled='' selected='')
                option(value='') All
                for breed in breeds
                    option(value= breed) #{breed}
            span.select-highlight
            span.select-bar
            label.select-label BREED                
    .colBox
        .select
            select.select-text(id='selectSize' required='')
                option(value='' disabled='' selected='')
                option(value='') All
                option(value='Small') Small
                option(value='Medium') Medium
                option(value='Large') Large
            span.select-highlight
            span.select-bar
            label.select-label SIZE          
    .colBox
        .select
            select.select-text(id='selectAge' required='')
                option(value='' disabled='' selected='')
                option(value='') All
                option(value='0,1,2,3') 0-3
                option(value='4,5,6') 4-6
                option(value='7,8,9,10,11,12,13') 7 and more...
            span.select-highlight
            span.select-bar
            label.select-label AGE
    .colBox
        button#filter
            span APPLY FILTER

block content
 #container
    //- content body
    section#gallery.clear
      figure
        ul#images
          for dog in dogs
            li
              a(href='#')
                img(src='/images/' + dog.image alt='Dog Image')
              i.heart(class=dog.heart + ' fa-heart hg' id=dog.image)
              div
                a(href='/details/' + dog.name) 
                    button#view 
                        span VIEW
    .pagination
      ul
        li.prev(class= page === 1 ? "disabled" : "enable" )
          a(href='#')  &laquo; Previous
        
        - for (var i = 1; i < page; i++) {
          li(class="page" id=i)
            a(href='#') 
              strong #{i}            
        - }
        li(class="page current")
          a.activePage(href='#') 
            strong #{page}
        - for (var i = page + 1; i <= numPages; i++) {
          li(class="page" id=i)
            a(href='#') 
              strong #{i}            
        - }
        
        li.next(class= page === numPages ? "disabled" : "enable" )
          a(href='#') Next &raquo;
    
